h2 {
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
  gap: 1rem;
  align-items: center;
  max-width: 60rem;
  min-height: 0.3rem;
  margin-inline: auto;
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.menu--pos-left {
  grid-column: 2/span 4;
  color: #fff;
}
.menu--pos-right {
  grid-column: -3/-1;
}
.menu__item {
  display: grid;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgba(56, 31, 209, 0);
  border-radius: 6px;
}
.menu__item:hover {
  border: 0.125rem solid #fff;
}
.menu__item--style-filled {
  color: oklch(42% 0.08 250deg);
  background-color: #fff;
  border: 0.125rem solid oklch(42% 0.08 250deg);
}

.hero--welcom {
  display: grid;
  align-items: center;
  font-size: 7rem;
  text-align: center;
}

.slider {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  background-color: aqua;
  transform: translateX(-10px);
  animation-name: slider;
}

@keyframes slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px);
  }
}
.middle {
  padding-inline: 1.5rem;
}
.middle__wrapper {
  max-width: 70rem;
  margin-inline: auto;
}
.middle__wrapper .middle-n-p {
  max-width: 100%;
  padding-inline: 0;
}
.middle__wrapper .title {
  display: grid;
  align-items: center;
  margin-bottom: 32px;
  text-align: center;
}
.middle__wrapper .title .big-title {
  margin-top: 180px;
  font-size: 5rem;
  line-height: 58px;
}
.middle__wrapper .title .subtitle {
  margin-top: 0;
  font-size: 1.25rem;
}
.middle__wrapper .profile-container {
  display: grid;
  grid-template-rows: 120px auto auto;
  grid-template-columns: 400px 70px 1fr 60px;
  gap: 16px;
  padding: 2.5rem;
  background-color: oklch(95% 0.04 260deg);
  border: 4px dashed oklch(42% 0.08 250deg);
  border-radius: 6px;
}
.middle__wrapper .profile-container .name {
  display: grid;
  align-items: center;
  font-size: 4rem;
}
.middle__wrapper .profile-container .introduce {
  grid-row: 2/-2;
  grid-column: 1/2;
  font-size: 1.25rem;
  background-color: #fff;
}
.middle__wrapper .profile-container .introduce-text {
  grid-row: -2/-1;
  grid-column: 1/2;
  background-color: #fff;
}
.middle__wrapper .profile-container .mini-icon {
  grid-row: 2/2;
  grid-column: 2/2;
}
.middle__wrapper .profile-container .my-img {
  grid-row: 1/-1;
  grid-column: 3/-2;
  max-width: 100%;
}
.middle__wrapper .profile-container .color {
  grid-row: -2/-1;
  grid-column: 4/-1;
}
.middle__wrapper .character-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.middle__wrapper .character-container-left .left-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.middle__wrapper .character-container-left .left-bottom .character-icon > img {
  max-width: 90px;
}
.middle__wrapper .works-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-top: 180px;
  margin-bottom: 210px;
}
.middle__wrapper .works-container .works-img {
  margin-block: auto;
}
.middle__wrapper .works-container .works-right {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.middle__wrapper .works-container .works-right .works-title {
  grid-row: 1/2;
  grid-column: 1/-1;
  align-items: center;
}
.middle__wrapper .works-container .works-right .works-title-big {
  margin-top: 16px;
}
.middle__wrapper .works-container .works-right .works-card:hover {
  background-color: oklch(72% 0.08 250deg);
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}
.middle__wrapper .works-container .works-right .works-card {
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);
  border-radius: 16px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.45);
  transition: all 170ms ease-out;
}
.middle__wrapper .works-container .works-right .works-card .works-text {
  margin-top: 0;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
}

.footer {
  padding-block: 32px;
  padding-inline: 10rem;
  color: #fff;
  background-color: oklch(42% 0.08 250deg);
}
.footer-top {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.footer-top-left {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 1/-1;
  grid-column: 1/3;
}
.footer-top-right {
  grid-column: -1/-2;
}
.footer-bottom {
  margin-top: 16px;
}