:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
}

:target {
  scroll-margin-block: 10px;
}

h2 {
  margin: 0;
}

.fixed {
  position: fixed;
  z-index: 2;
}
a.fixed, .fixed a {
  color: currentcolor;
}

.fixed--pos-br {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
}
.fixed--role-list {
  padding-left: 0;
  margin-block: 0;
  line-height: 1.8rem;
  text-transform: capitalize;
  list-style: none;
}
.fixed--role-list > li > a {
  text-decoration: none;
  text-shadow: #fff 1px 0 12px;
}
.fixed--role-list > li > a:hover {
  text-decoration: underline;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
  gap: 1rem;
  align-items: center;
  max-width: 60rem;
  min-height: 0.3rem;
  margin-inline: auto;
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.menu--pos-left {
  grid-column: 2/span 4;
  color: #fff;
}
.menu--pos-right {
  grid-column: -3/-1;
}
.menu__item {
  display: grid;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgba(56, 31, 209, 0);
  border-radius: 6px;
}
.menu__item:hover {
  border: 0.125rem solid #fff;
}
.menu__item--style-filled {
  color: oklch(42% 0.08 250deg);
  background-color: #fff;
  border: 0.125rem solid oklch(42% 0.08 250deg);
}

.hero {
  display: grid;
  background-color: oklch(95% 0.04 260deg);
}

.hero-title--welcom {
  display: grid;
  align-items: center;
  margin-bottom: 70px;
  font-size: 7rem;
  text-align: center;
}
.hero-title .title-img {
  max-width: 30%;
  overflow: hidden;
}

.hero-music-strok {
  stroke: oklch(42% 0.08 250deg);
  stroke-linecap: 20px;
  stroke-width: 3px;
}
.hero-music-icon-start {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.slider {
  display: grid;
  align-items: center;
  max-width: 100%;
  margin-inline: auto;
  overflow-x: hidden;
  font-size: 1.6rem;
  font-weight: 500;
  color: oklch(42% 0.08 250deg);
  text-align: center;
  text-transform: capitalize;
  text-wrap: nowrap;
  background-color: #fff;
  transition: 0.3 ease;
}

.slider:hover {
  animation-name: pika;
  animation-duration: 1600ms;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes pika {
  0% {
    color: oklch(42% 0.08 250deg);
    background-color: oklch(95% 0.04 260deg);
  }
  50% {
    color: #fff;
    background-color: oklch(42% 0.08 250deg);
  }
  75% {
    color: oklch(42% 0.08 250deg);
    background-color: oklch(95% 0.04 260deg);
  }
  100% {
    color: oklch(42% 0.08 250deg);
    background-color: oklch(95% 0.04 260deg);
  }
}
.middle {
  padding-inline: 1.5rem;
}
.middle__wrapper {
  max-width: 70rem;
  margin-inline: auto;
}
.middle__wrapper .middle-n-p {
  max-width: 100%;
  padding-inline: 0;
}
.middle__wrapper .title {
  display: grid;
  align-items: center;
  margin-bottom: 32px;
  text-align: center;
}
.middle__wrapper .title .big-title {
  margin-top: 180px;
  font-size: 5rem;
  line-height: 58px;
}
.middle__wrapper .title .subtitle {
  margin-top: 0;
  font-size: 1.25rem;
}
.middle__wrapper .profile-container {
  display: grid;
  grid-template-rows: 120px auto auto;
  grid-template-columns: 400px 70px 1fr 60px;
  gap: 16px;
  padding: 2.5rem;
  background-color: oklch(95% 0.04 260deg);
  border: 4px dashed oklch(42% 0.08 250deg);
  border-radius: 6px;
}
.middle__wrapper .profile-container .name {
  display: grid;
  align-items: center;
  font-size: 3.7rem;
}
.middle__wrapper .profile-container .introduce {
  grid-row: 2/-2;
  grid-column: 1/2;
  padding-inline: 2rem;
  font-size: 1.25rem;
  background-color: #fff;
}
.middle__wrapper .profile-container .introduce-text {
  grid-row: -2/-1;
  grid-column: 1/2;
  padding-inline: 2rem;
  margin-block: auto;
  background-color: #fff;
}
.middle__wrapper .profile-container .mini-icon {
  grid-row: 2/2;
  grid-column: 2/2;
}
.middle__wrapper .profile-container .my-img {
  grid-row: 1/-1;
  grid-column: 3/-2;
  max-width: 100%;
}
.middle__wrapper .profile-container .my-img:hover {
  transform: rotate(8deg);
}
.middle__wrapper .profile-container .color {
  grid-row: -2/-1;
  grid-column: 4/-1;
}
.middle__wrapper .deco {
  text-decoration: none;
}
.middle__wrapper .character-container-2 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin-inline: auto;
  font-weight: 500;
  text-align: center;
}
.middle__wrapper .character-container-2 .right-img-2 {
  position: absolute;
}
.middle__wrapper .character-container-2 .imshi-hover {
  filter: brightness(50%) blur(6px);
  transition: all 120ms ease-out;
}
.middle__wrapper .character-container-2 .imshi-hover:hover {
  filter: none;
}
.middle__wrapper .character-container-2 > p {
  display: grid;
  grid-template-columns: subgrid;
}
.middle__wrapper .works-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  margin-top: 180px;
  margin-bottom: 210px;
}
.middle__wrapper .works-container .works-img {
  margin-block: auto;
}
.middle__wrapper .works-container .works-right {
  display: grid;
  grid-template-rows: 100px 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.middle__wrapper .works-container .works-right .works-title {
  grid-row: 1/2;
  grid-column: 1/-1;
  align-items: center;
  font-size: 1.6rem;
}
.middle__wrapper .works-container .works-right .works-title-big {
  margin-top: 16px;
}
.middle__wrapper .works-container .works-right .works-card:hover {
  text-decoration: underline;
  background-color: oklch(72% 0.08 250deg);
  box-shadow: 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.25);
}
.middle__wrapper .works-container .works-right .works-card {
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);
  border-radius: 16px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.45);
  transition: all 170ms ease-out;
}
.middle__wrapper .works-container .works-right .works-card .works-text {
  margin-top: 0;
  margin-bottom: 12px;
  color: #fff;
  text-align: center;
}

.footer {
  padding-block: 32px;
  padding-inline: 10rem;
  color: #fff;
  background-color: oklch(42% 0.08 250deg);
}
.footer-top {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
}
.footer-top-left {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  grid-row: 1/-1;
  grid-column: 1/3;
}
.footer-top-right {
  grid-column: -1/-2;
}
.footer-bottom {
  margin-top: 16px;
}