$middle-w-mx: 70rem;
$middle-p-x: 1.5rem;

:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
}

:target {
  scroll-margin-block: 10ex;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img {
  display: block;
}

h2 {
  margin: 0;
}

ul,
li {
  padding: 0;
}

.fixed {
  position: fixed;
  z-index: 2;

  @at-root a#{&},
    & a {
    color: currentcolor;

    // text-decoration: none;
  }

  .upper {
    max-width: 28px;
    padding: 3.4px;
    margin-bottom: 8px;
    background-color: #000;
    filter: brightness(200%);
    border-radius: 50%;
    box-shadow: 0 0 8px #fff;
  }

  &--pos {
    &-br {
      right: var(--fixed-m-x);
      bottom: var(--fixed-m-y);
    }
  }

  &--role {
    &-list {
      padding-left: 0;
      margin-block: 0;
      line-height: 1.8rem;
      text-transform: capitalize;
      list-style: none;

      > li {
        > a {
          text-decoration: none;
          text-shadow: #fff 0 0 8px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: #000;

  &__wrapper {
    display: grid;
    grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
    gap: 1rem;
    align-items: center;
    max-width: 60rem;
    min-height: 0.3rem;
    margin-inline: auto;
  }
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;

  &--pos {
    &-left {
      grid-column: 2 / span 4;
      color: #fff;
    }

    &-right {
      grid-column: -3 / -1;
    }
  }

  &__item {
    display: grid;
    align-items: center;
    height: 32px;
    padding-inline: 8px;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 6px;

    &:hover {
      border: 0.125rem solid #fff;
    }

    &--style-filled {
      color: #000;
      background-color: #fff;
      border: #000;
    }
  }
}

.works-title {
  font-size: 7rem;
  text-align: center;
}

.main-task-title {
  font-size: 3.5rem;
  text-align: center;
}

.sub-task-title {
  max-width: fit-content;
  margin-inline: auto;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 20px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(255 255 66);
}

.task-text {
  text-align: center;
}

.guid {
  color: darkblue;
}

.mini-title {
  font-size: 26px;
  text-align: center;
}

[name='slide'] {
  display: none;
}

.slidebox {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }

  .slidelist {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
  }

  .slideitem {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    transition: all 0.35s;

    img {
      margin-inline: auto;
    }

    label {
      position: absolute;
      top: 50%;
      z-index: 1;
      padding: 20px;
      cursor: pointer;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    .left {
      left: 20px;

      // background-color: #5f5f5f;
      background-image: url('./../../assets/arrow_back.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    .right {
      right: 20px;

      // background-color: #5f5f5f;

      background-image: url('./../../assets/arrow_forward.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }
  }

  [id='slide01']:checked ~ .slidelist .slideitem {
    transform: translateX(0);
  }

  [id='slide02']:checked ~ .slidelist .slideitem {
    transform: translateX(-100%);
  }

  [id='slide03']:checked ~ .slidelist .slideitem {
    transform: translateX(-200%);
  }

  [id='slide04']:checked ~ .slidelist .slideitem {
    transform: translateX(-300%);
  }

  [id='slide05']:checked ~ .slidelist .slideitem {
    transform: translateX(-400%);
  }

  [id='slide06']:checked ~ .slidelist .slideitem {
    transform: translateX(-500%);
  }

  [id='slide07']:checked ~ .slidelist .slideitem {
    transform: translateX(-600%);
  }

  [id='slide08']:checked ~ .slidelist .slideitem {
    transform: translateX(-700%);
  }

  [id='slide09']:checked ~ .slidelist .slideitem {
    transform: translateX(-800%);
  }

  [id='slide10']:checked ~ .slidelist .slideitem {
    transform: translateX(-900%);
  }

  [id='slide11']:checked ~ .slidelist .slideitem {
    transform: translateX(-1000%);
  }

  [id='slide12']:checked ~ .slidelist .slideitem {
    transform: translateX(-1100%);
  }

  [id='slide13']:checked ~ .slidelist .slideitem {
    transform: translateX(-1200%);
  }

  [id='slide14']:checked ~ .slidelist .slideitem {
    transform: translateX(-1300%);
  }

  [id='slide15']:checked ~ .slidelist .slideitem {
    transform: translateX(-1400%);
  }

  [id='slide16']:checked ~ .slidelist .slideitem {
    transform: translateX(-1500%);
  }

  [id='slide17']:checked ~ .slidelist .slideitem {
    transform: translateX(-1600%);
  }

  [id='slide18']:checked ~ .slidelist .slideitem {
    transform: translateX(-1700%);
  }

  [id='slide19']:checked ~ .slidelist .slideitem {
    transform: translateX(-1800%);
  }

  [id='slide20']:checked ~ .slidelist .slideitem {
    transform: translateX(-1900%);
  }

  [id='slide21']:checked ~ .slidelist .slideitem {
    transform: translateX(-2000%);
  }

  [id='slide22']:checked ~ .slidelist .slideitem {
    transform: translateX(-2100%);
  }

  [id='slide23']:checked ~ .slidelist .slideitem {
    transform: translateX(-2200%);
  }

  [id='slide24']:checked ~ .slidelist .slideitem {
    transform: translateX(-2300%);
  }

  [id='slide25']:checked ~ .slidelist .slideitem {
    transform: translateX(-2400%);
  }

  [id='slide26']:checked ~ .slidelist .slideitem {
    transform: translateX(-2500%);
  }

  [id='slide27']:checked ~ .slidelist .slideitem {
    transform: translateX(-2600%);
  }

  [id='slide28']:checked ~ .slidelist .slideitem {
    transform: translateX(-2700%);
  }

  [id='slide29']:checked ~ .slidelist .slideitem {
    transform: translateX(-2800%);
  }

  [id='slide30']:checked ~ .slidelist .slideitem {
    transform: translateX(-2900%);
  }

  [id='slide31']:checked ~ .slidelist .slideitem {
    transform: translateX(-3000%);
  }
}

.communication_design {
  .cd-best {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    margin-inline: auto;
    margin-bottom: 110px;
    text-align: center;
    text-transform: uppercase;

    img {
      filter: brightness(40%);
    }

    .best-text {
      position: absolute;
      top: 15%;
      left: 1%;
      font-size: 7.5rem;
      color: #fff;
    }
  }

  img {
    max-width: 100%;
  }

  .less_is_bore {
    margin-top: 40px;

    .LIB-pattern {
      margin-top: 40px;
      margin-bottom: 200px;

      .pattern {
        position: relative;
        display: grid;

        .rt {
          max-width: 50%;
          margin-left: 330px;
        }

        .tt {
          position: absolute;
          top: 45%;
          left: 55%;
          max-width: 30%;
          box-shadow: 4px 4px 14px #464646;
        }
      }
    }

    .LIB-project {
      margin-bottom: 200px;

      .project {
        position: relative;

        .rt {
          max-width: 50%;
          margin-left: 330px;
        }

        .tt {
          position: absolute;
          top: 45%;
          left: 55%;
          max-width: 30%;
          box-shadow: 4px 4px 14px #464646;
        }
      }
    }

    .LIB-final {
      .final {
        position: relative;

        &-file {
          display: grid;
          max-width: 69%;
          margin-inline: auto;
          box-shadow: 0 0 10px #8f8f8f;
        }
      }
    }
  }
}

.typography {
  display: grid;
  margin-inline: auto;
  margin-top: 5px;
  text-align: center;

  .typo-best {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    margin-inline: auto;
    margin-top: 150px;
    margin-bottom: 110px;
    text-align: center;
    text-transform: uppercase;

    img {
      filter: brightness(40%);
    }

    .typo-text {
      position: absolute;
      top: 33%;
      left: 17%;
      font-size: 7.5rem;
      color: #fff;
    }
  }

  img {
    max-width: 100%;
  }

  .new-Alphabet {
    .alphabet-family {
      margin-top: 40px;
      margin-bottom: 200px;

      .family-family {
        position: relative;
        display: grid;

        .ff {
          position: absolute;
          top: 53%;
          left: 17%;
          max-width: 30%;
          box-shadow: 2px 3px 8px #464646;
        }

        .ft {
          max-width: 40%;
          margin-left: 730px;
          box-shadow: 0 0 6px #8f8f8f;
        }
      }
    }
  }

  .cluella {
    display: grid;
    align-items: center;

    .resonance {
      display: grid;
      align-items: center;
    }

    .leaflet {
      align-items: center;
      max-width: 60%;
      margin-inline: auto;

      .ll-1 {
        margin-bottom: 20px;
        box-shadow: 3px 3px 8px #464646;
      }

      .ll-2 {
        margin-bottom: 60px;
        box-shadow: 3px 3px 8px #464646;
      }
    }

    .mockup {
      align-items: center;
      max-width: 60%;
      margin-inline: auto;

      .mu-1 {
        box-shadow: 3px 3px 10px #464646;
      }
    }

    .typo-best-1 {
      display: grid;
      align-items: center;
      margin-inline: auto;
      text-align: center;
    }
  }
}

.webmedia__design {
  .web-best {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    margin-inline: auto;
    margin-top: 150px;
    margin-bottom: 110px;
    text-align: center;
    text-transform: uppercase;

    img {
      filter: brightness(40%);
    }

    .web-text {
      position: absolute;
      top: 33%;
      left: 6%;
      font-size: 7.5rem;
      color: #fff;
      text-align: center;
    }
  }

  img {
    max-width: 100%;
  }

  .backstage-talks {
    display: grid;
    margin-bottom: 60px;

    .bg-t {
      display: grid;
      align-items: center;
      max-width: 60%;
      margin-inline: auto;
      text-align: center;
    }
  }

  .my-profile {
    display: grid;
    margin-bottom: 150px;

    .bg-t {
      display: grid;
      align-items: center;
      max-width: 60%;
      margin-inline: auto;
      text-align: center;
    }
  }
}

.slidebox-2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  img {
    max-width: 100%;
  }

  .slidelist {
    overflow: hidden;
    font-size: 0;
    white-space: nowrap;
  }

  .slideitem {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    transition: all 0.35s;

    label {
      position: absolute;
      top: 50%;
      z-index: 1;
      padding: 20px;
      cursor: pointer;
      border-radius: 50%;
      transform: translateY(-50%);
    }

    .left {
      left: 20px;

      // background-color: #5f5f5f;
      background-image: url('./../../assets/arrow_back.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }

    .right {
      right: 20px;

      // background-color: #5f5f5f;

      background-image: url('./../../assets/arrow_forward.png');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 100%;
    }
  }

  [id='ad01']:checked ~ .slidelist .slideitem {
    transform: translateX(0);
  }

  [id='ad02']:checked ~ .slidelist .slideitem {
    transform: translateX(-100%);
  }

  [id='ad03']:checked ~ .slidelist .slideitem {
    transform: translateX(-200%);
  }

  [id='ad04']:checked ~ .slidelist .slideitem {
    transform: translateX(-300%);
  }

  [id='ad05']:checked ~ .slidelist .slideitem {
    transform: translateX(-400%);
  }
}

.appropriate__technology {
  .ad-best {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 70%;
    margin-inline: auto;
    margin-bottom: 110px;
    text-align: center;
    text-transform: uppercase;

    img {
      filter: brightness(40%);
    }

    .ad-text {
      position: absolute;
      top: 15%;
      left: 1%;
      font-size: 7.5rem;
      color: #fff;
    }
  }

  .poster {
    display: grid;

    .poster-mu {
      display: grid;
      align-items: center;
      max-width: 60%;
      margin-inline: auto;
      text-align: center;
    }

    .mini-title {
      margin-top: 70px;
      margin-bottom: 10px;
    }

    .guid-2 {
      margin-top: 0;
    }
  }

  img {
    max-width: 100%;
  }
}
