:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
}

:target {
  scroll-margin-block: 10ex;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

ul,
li {
  padding: 0;
}

.fixed {
  position: fixed;
  z-index: 2;
}
a.fixed, .fixed a {
  color: currentcolor;
}

.fixed--pos-br {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
}
.fixed--role-list {
  padding-left: 0;
  margin-block: 0;
  line-height: 1.8rem;
  text-transform: capitalize;
  list-style: none;
}
.fixed--role-list > li > a {
  text-decoration: none;
  text-shadow: #fff 1px 0 12px;
}
.fixed--role-list > li > a:hover {
  text-decoration: underline;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: #000;
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
  gap: 1rem;
  align-items: center;
  max-width: 60rem;
  min-height: 0.3rem;
  margin-inline: auto;
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.menu--pos-left {
  grid-column: 2/span 4;
  color: #fff;
}
.menu--pos-right {
  grid-column: -3/-1;
}
.menu__item {
  display: grid;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #000;
  border-radius: 6px;
}
.menu__item:hover {
  border: 0.125rem solid #fff;
}
.menu__item--style-filled {
  color: #000;
  background-color: #fff;
  border: #000;
}

.works-title {
  font-size: 7rem;
  text-align: center;
}

.main-task-title {
  font-size: 3.5rem;
  text-align: center;
}

.sub-task-title {
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin-inline: auto;
  font-size: 1.9rem;
  font-weight: 800;
  line-height: 20px;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(255, 255, 66);
}

.task-text {
  text-align: center;
}

.guid {
  color: darkblue;
}

.mini-title {
  font-size: 26px;
  text-align: center;
}

[name=slide] {
  display: none;
}

.slidebox {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.slidebox img {
  max-width: 100%;
}
.slidebox .slidelist {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
}
.slidebox .slideitem {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  transition: all 0.35s;
}
.slidebox .slideitem label {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slidebox .slideitem .left {
  left: 20px;
  background-image: url("./../../assets/arrow_back.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.slidebox .slideitem .right {
  right: 20px;
  background-image: url("./../../assets/arrow_forward.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}
.slidebox [id=slide01]:checked ~ .slidelist .slideitem {
  transform: translateX(0);
}
.slidebox [id=slide02]:checked ~ .slidelist .slideitem {
  transform: translateX(-100%);
}
.slidebox [id=slide03]:checked ~ .slidelist .slideitem {
  transform: translateX(-200%);
}
.slidebox [id=slide04]:checked ~ .slidelist .slideitem {
  transform: translateX(-300%);
}
.slidebox [id=slide05]:checked ~ .slidelist .slideitem {
  transform: translateX(-400%);
}
.slidebox [id=slide06]:checked ~ .slidelist .slideitem {
  transform: translateX(-500%);
}
.slidebox [id=slide07]:checked ~ .slidelist .slideitem {
  transform: translateX(-600%);
}
.slidebox [id=slide08]:checked ~ .slidelist .slideitem {
  transform: translateX(-700%);
}
.slidebox [id=slide09]:checked ~ .slidelist .slideitem {
  transform: translateX(-800%);
}
.slidebox [id=slide10]:checked ~ .slidelist .slideitem {
  transform: translateX(-900%);
}
.slidebox [id=slide11]:checked ~ .slidelist .slideitem {
  transform: translateX(-1000%);
}
.slidebox [id=slide12]:checked ~ .slidelist .slideitem {
  transform: translateX(-1100%);
}
.slidebox [id=slide13]:checked ~ .slidelist .slideitem {
  transform: translateX(-1200%);
}
.slidebox [id=slide14]:checked ~ .slidelist .slideitem {
  transform: translateX(-1300%);
}
.slidebox [id=slide15]:checked ~ .slidelist .slideitem {
  transform: translateX(-1400%);
}
.slidebox [id=slide16]:checked ~ .slidelist .slideitem {
  transform: translateX(-1500%);
}
.slidebox [id=slide17]:checked ~ .slidelist .slideitem {
  transform: translateX(-1600%);
}
.slidebox [id=slide18]:checked ~ .slidelist .slideitem {
  transform: translateX(-1700%);
}
.slidebox [id=slide19]:checked ~ .slidelist .slideitem {
  transform: translateX(-1800%);
}
.slidebox [id=slide20]:checked ~ .slidelist .slideitem {
  transform: translateX(-1900%);
}
.slidebox [id=slide21]:checked ~ .slidelist .slideitem {
  transform: translateX(-2000%);
}
.slidebox [id=slide22]:checked ~ .slidelist .slideitem {
  transform: translateX(-2100%);
}
.slidebox [id=slide23]:checked ~ .slidelist .slideitem {
  transform: translateX(-2200%);
}
.slidebox [id=slide24]:checked ~ .slidelist .slideitem {
  transform: translateX(-2300%);
}
.slidebox [id=slide25]:checked ~ .slidelist .slideitem {
  transform: translateX(-2400%);
}
.slidebox [id=slide26]:checked ~ .slidelist .slideitem {
  transform: translateX(-2500%);
}
.slidebox [id=slide27]:checked ~ .slidelist .slideitem {
  transform: translateX(-2600%);
}
.slidebox [id=slide28]:checked ~ .slidelist .slideitem {
  transform: translateX(-2700%);
}
.slidebox [id=slide29]:checked ~ .slidelist .slideitem {
  transform: translateX(-2800%);
}
.slidebox [id=slide30]:checked ~ .slidelist .slideitem {
  transform: translateX(-2900%);
}
.slidebox [id=slide31]:checked ~ .slidelist .slideitem {
  transform: translateX(-3000%);
}

.communication_design .cd-best {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin-inline: auto;
  margin-bottom: 110px;
  text-align: center;
  text-transform: uppercase;
}
.communication_design .cd-best img {
  filter: brightness(40%);
}
.communication_design .cd-best .best-text {
  position: absolute;
  top: 15%;
  left: 1%;
  font-size: 7.5rem;
  color: #fff;
}
.communication_design img {
  max-width: 100%;
}
.communication_design .less_is_bore {
  margin-top: 40px;
}
.communication_design .less_is_bore .LIB-pattern .pattern {
  position: relative;
  display: grid;
}
.communication_design .less_is_bore .LIB-pattern .pattern .rt {
  max-width: 50%;
  margin-left: 330px;
}
.communication_design .less_is_bore .LIB-pattern .pattern .tt {
  position: absolute;
  top: 45%;
  left: 55%;
  max-width: 30%;
  box-shadow: 4px 4px 14px #464646;
}

.typography {
  display: grid;
  margin-inline: auto;
  text-align: center;
}
.typography .typo-best {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin-inline: auto;
  margin-top: 150px;
  margin-bottom: 110px;
  text-align: center;
  text-transform: uppercase;
}
.typography .typo-best img {
  filter: brightness(40%);
}
.typography .typo-best .typo-text {
  position: absolute;
  top: 33%;
  left: 17%;
  font-size: 7.5rem;
  color: #fff;
}
.typography img {
  max-width: 100%;
}
.typography .cluella {
  display: grid;
  align-items: center;
}
.typography .cluella .resonance {
  display: grid;
  align-items: center;
}
.typography .cluella .typo-best-1 {
  display: grid;
  align-items: center;
  margin-inline: auto;
  text-align: center;
}

.webmedia__design .web-best {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin-inline: auto;
  margin-bottom: 110px;
  text-align: center;
  text-transform: uppercase;
}
.webmedia__design .web-best img {
  filter: brightness(40%);
}
.webmedia__design .web-best .web-text {
  position: absolute;
  top: 33%;
  left: 6%;
  font-size: 7.5rem;
  color: #fff;
  text-align: center;
}
.webmedia__design img {
  max-width: 100%;
}

.appropriate__technology .ad-best {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 70%;
  margin-inline: auto;
  margin-bottom: 110px;
  text-align: center;
  text-transform: uppercase;
}
.appropriate__technology .ad-best img {
  filter: brightness(40%);
}
.appropriate__technology .ad-best .ad-text {
  position: absolute;
  top: 15%;
  left: 1%;
  font-size: 7.5rem;
  color: #fff;
}
.appropriate__technology img {
  max-width: 100%;
}