:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li {
  padding: 0;
}

.fixed {
  position: fixed;
  z-index: 2;

  @at-root a#{&},
    & a {
    color: currentcolor;

    // text-decoration: none;
  }

  &--pos {
    &-br {
      right: var(--fixed-m-x);
      bottom: var(--fixed-m-y);
    }
  }

  &--role {
    &-list {
      padding-left: 0;
      margin-block: 0;
      line-height: 1.8rem;
      text-transform: capitalize;
      list-style: none;

      > li {
        > a {
          text-decoration: none;
          text-shadow: #fff 1px 0 12px;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);

  &__wrapper {
    display: grid;
    grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
    gap: 1rem;
    align-items: center;
    max-width: 60rem;
    min-height: 0.3rem;
    margin-inline: auto;
  }
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;

  &--pos {
    &-left {
      grid-column: 2 / span 4;
      color: #fff;
    }

    &-right {
      grid-column: -3 / -1;
    }
  }

  &__item {
    display: grid;
    align-items: center;
    height: 32px;
    padding-inline: 8px;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid rgba(56 31 209 / 0%);
    border-radius: 6px;

    &:hover {
      border: 0.125rem solid #fff;
    }

    &--style-filled {
      color: oklch(42% 0.08 250deg);
      background-color: #fff;
      border: 0.125rem solid oklch(42% 0.08 250deg);
    }
  }
}

[name='slide'] {
  display: none;
}

.slidebox {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.slidebox img {
  max-width: 100%;
}

.slidebox .slidelist {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
}

.slidebox .slideitem {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  transition: all 0.35s;
}

.slidebox .slideitem label {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

label.left {
  left: 20px;
  background-color: #5f5f5f;
  background-image: ur1('./img/left-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

label.right {
  right: 20px;
  background-color: #5f5f5f;
  background-image: ur1('./img/right-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}

[id='slide01']:checked ~ .slidelist .slideitem {
  transform: translateX(0);
}

[id='slide02']:checked ~ .slidelist .slideitem {
  transform: translateX(-100%);
}

[id='slide03']:checked ~ .slidelist .slideitem {
  transform: translateX(-200%);
}

[id='slide04']:checked ~ .slidelist .slideitem {
  transform: translateX(-300%);
}

[id='slide05']:checked ~ .slidelist .slideitem {
  transform: translateX(-400%);
}

[id='slide06']:checked ~ .slidelist .slideitem {
  transform: translateX(-500%);
}

[id='slide07']:checked ~ .slidelist .slideitem {
  transform: translateX(-600%);
}

[id='slide08']:checked ~ .slidelist .slideitem {
  transform: translateX(-700%);
}

[id='slide09']:checked ~ .slidelist .slideitem {
  transform: translateX(-800%);
}

[id='slide10']:checked ~ .slidelist .slideitem {
  transform: translateX(-900%);
}

[id='slide11']:checked ~ .slidelist .slideitem {
  transform: translateX(-1000%);
}

[id='slide12']:checked ~ .slidelist .slideitem {
  transform: translateX(-1100%);
}

[id='slide13']:checked ~ .slidelist .slideitem {
  transform: translateX(-1200%);
}

[id='slide14']:checked ~ .slidelist .slideitem {
  transform: translateX(-1300%);
}

[id='slide15']:checked ~ .slidelist .slideitem {
  transform: translateX(-1400%);
}

[id='slide16']:checked ~ .slidelist .slideitem {
  transform: translateX(-1500%);
}

[id='slide17']:checked ~ .slidelist .slideitem {
  transform: translateX(-1600%);
}

[id='slide18']:checked ~ .slidelist .slideitem {
  transform: translateX(-1700%);
}

[id='slide19']:checked ~ .slidelist .slideitem {
  transform: translateX(-1800%);
}

[id='slide20']:checked ~ .slidelist .slideitem {
  transform: translateX(-1900%);
}

[id='slide21']:checked ~ .slidelist .slideitem {
  transform: translateX(-2000%);
}

[id='slide22']:checked ~ .slidelist .slideitem {
  transform: translateX(-2100%);
}

[id='slide23']:checked ~ .slidelist .slideitem {
  transform: translateX(-2200%);
}

[id='slide24']:checked ~ .slidelist .slideitem {
  transform: translateX(-2300%);
}

[id='slide25']:checked ~ .slidelist .slideitem {
  transform: translateX(-2400%);
}

[id='slide26']:checked ~ .slidelist .slideitem {
  transform: translateX(-2500%);
}

[id='slide27']:checked ~ .slidelist .slideitem {
  transform: translateX(-2600%);
}

[id='slide28']:checked ~ .slidelist .slideitem {
  transform: translateX(-2700%);
}

[id='slide29']:checked ~ .slidelist .slideitem {
  transform: translateX(-2800%);
}

[id='slide30']:checked ~ .slidelist .slideitem {
  transform: translateX(-2900%);
}

[id='slide31']:checked ~ .slidelist .slideitem {
  transform: translateX(-3000%);
}
