:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

ul,
li {
  padding: 0;
}

.fixed {
  position: fixed;
  z-index: 2;
}
a.fixed, .fixed a {
  color: currentcolor;
}

.fixed--pos-br {
  right: var(--fixed-m-x);
  bottom: var(--fixed-m-y);
}
.fixed--role-list {
  padding-left: 0;
  margin-block: 0;
  line-height: 1.8rem;
  text-transform: capitalize;
  list-style: none;
}
.fixed--role-list > li > a {
  text-decoration: none;
  text-shadow: #fff 1px 0 12px;
}
.fixed--role-list > li > a:hover {
  text-decoration: underline;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
  gap: 1rem;
  align-items: center;
  max-width: 60rem;
  min-height: 0.3rem;
  margin-inline: auto;
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.menu--pos-left {
  grid-column: 2/span 4;
  color: #fff;
}
.menu--pos-right {
  grid-column: -3/-1;
}
.menu__item {
  display: grid;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgba(56, 31, 209, 0);
  border-radius: 6px;
}
.menu__item:hover {
  border: 0.125rem solid #fff;
}
.menu__item--style-filled {
  color: oklch(42% 0.08 250deg);
  background-color: #fff;
  border: 0.125rem solid oklch(42% 0.08 250deg);
}

[name=slide] {
  display: none;
}

.slidebox {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.slidebox img {
  max-width: 100%;
}
.slidebox .slidelist {
  overflow: hidden;
  font-size: 0;
  white-space: nowrap;
}
.slidebox .slideitem {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  transition: all 0.35s;
}
.slidebox .slideitem label {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 20px;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}
.slidebox .slideitem .left {
  left: 20px;
  background-color: #5f5f5f;
  background-image: ur1("./img/left-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.slidebox .slideitem .right {
  right: 20px;
  background-color: #5f5f5f;
  background-image: ur1("./img/right-arrow.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
.slidebox [id=slide01]:checked ~ .slidelist .slideitem {
  transform: translateX(0);
}
.slidebox [id=slide02]:checked ~ .slidelist .slideitem {
  transform: translateX(-100%);
}
.slidebox [id=slide03]:checked ~ .slidelist .slideitem {
  transform: translateX(-200%);
}
.slidebox [id=slide04]:checked ~ .slidelist .slideitem {
  transform: translateX(-300%);
}
.slidebox [id=slide05]:checked ~ .slidelist .slideitem {
  transform: translateX(-400%);
}
.slidebox [id=slide06]:checked ~ .slidelist .slideitem {
  transform: translateX(-500%);
}
.slidebox [id=slide07]:checked ~ .slidelist .slideitem {
  transform: translateX(-600%);
}
.slidebox [id=slide08]:checked ~ .slidelist .slideitem {
  transform: translateX(-700%);
}
.slidebox [id=slide09]:checked ~ .slidelist .slideitem {
  transform: translateX(-800%);
}
.slidebox [id=slide10]:checked ~ .slidelist .slideitem {
  transform: translateX(-900%);
}
.slidebox [id=slide11]:checked ~ .slidelist .slideitem {
  transform: translateX(-1000%);
}
.slidebox [id=slide12]:checked ~ .slidelist .slideitem {
  transform: translateX(-1100%);
}
.slidebox [id=slide13]:checked ~ .slidelist .slideitem {
  transform: translateX(-1200%);
}
.slidebox [id=slide14]:checked ~ .slidelist .slideitem {
  transform: translateX(-1300%);
}
.slidebox [id=slide15]:checked ~ .slidelist .slideitem {
  transform: translateX(-1400%);
}
.slidebox [id=slide16]:checked ~ .slidelist .slideitem {
  transform: translateX(-1500%);
}
.slidebox [id=slide17]:checked ~ .slidelist .slideitem {
  transform: translateX(-1600%);
}
.slidebox [id=slide18]:checked ~ .slidelist .slideitem {
  transform: translateX(-1700%);
}
.slidebox [id=slide19]:checked ~ .slidelist .slideitem {
  transform: translateX(-1800%);
}
.slidebox [id=slide20]:checked ~ .slidelist .slideitem {
  transform: translateX(-1900%);
}
.slidebox [id=slide21]:checked ~ .slidelist .slideitem {
  transform: translateX(-2000%);
}
.slidebox [id=slide22]:checked ~ .slidelist .slideitem {
  transform: translateX(-2100%);
}
.slidebox [id=slide23]:checked ~ .slidelist .slideitem {
  transform: translateX(-2200%);
}
.slidebox [id=slide24]:checked ~ .slidelist .slideitem {
  transform: translateX(-2300%);
}
.slidebox [id=slide25]:checked ~ .slidelist .slideitem {
  transform: translateX(-2400%);
}
.slidebox [id=slide26]:checked ~ .slidelist .slideitem {
  transform: translateX(-2500%);
}
.slidebox [id=slide27]:checked ~ .slidelist .slideitem {
  transform: translateX(-2600%);
}
.slidebox [id=slide28]:checked ~ .slidelist .slideitem {
  transform: translateX(-2700%);
}
.slidebox [id=slide29]:checked ~ .slidelist .slideitem {
  transform: translateX(-2800%);
}
.slidebox [id=slide30]:checked ~ .slidelist .slideitem {
  transform: translateX(-2900%);
}
.slidebox [id=slide31]:checked ~ .slidelist .slideitem {
  transform: translateX(-3000%);
}