:root {
  --fixed-m-x: 0.9375rem;
  --fixed-m-y: 1.25rem;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  line-height: 180px;
}

body {
  margin: 0;
}

.fixed {
  position: fixed;
  z-index: 100;

  @at-root a#{&},
    & a {
    color: currentcolor;

    // text-decoration: none;
  }

  .upper {
    max-width: 28px;
    padding: 3.4px;
    margin-bottom: 8px;
    background-color: #000;
    filter: brightness(200%);
    border-radius: 50%;
    box-shadow: 0 0 8px #fff;
  }

  &--pos {
    &-br {
      right: var(--fixed-m-x);
      bottom: var(--fixed-m-y);
    }
  }

  &--role {
    &-list {
      padding-left: 0;
      margin-block: 0;
      line-height: 1.8rem;
      text-transform: capitalize;
      list-style: none;

      > li {
        > a {
          text-decoration: none;
          text-shadow: 0 0 8px #fff;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: #000;

  &__wrapper {
    display: grid;
    grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
    gap: 1rem;
    align-items: center;
    max-width: 60rem;
    min-height: 0.3rem;
    margin-inline: auto;
  }
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;

  &--pos {
    &-left {
      grid-column: 2 / span 4;
      color: #fff;
    }

    &-right {
      grid-column: -3 / -1;
    }
  }

  &__item {
    display: grid;
    align-items: center;
    height: 32px;
    padding-inline: 8px;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid rgba(56 31 209 / 0%);
    border-radius: 6px;

    &:hover {
      border: 0.125rem solid #fff;
    }

    &--style-filled {
      color: #000;
      background-color: #fff;
      border: 0.125rem solid #000;
    }
  }
}

.hidden-menu {
  display: none;
  grid-column: -1 / -2;
  align-items: center;
  max-width: 45%;
  padding: 0;
  margin: 0;
  margin-inline: auto;
  border-radius: 8px;
}

.hidden-menu:hover {
  box-shadow: 0 0 8px #fff;
}

@media (width <= 600px) {
  .g {
    display: none;
  }

  .hidden-menu {
    display: block;
  }

  .so-big {
    font-size: 40px !important;
  }

  .footer {
    padding-inline: 10px !important;
  }
}

.sub-title {
  margin-top: 120px;
  font-size: 2.5rem;
}

.middle {
  .main-title {
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
  }

  .band {
    .guid {
      color: darkblue;
    }

    .project {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 70%;
      margin-inline: auto;
      margin-top: 150px;
      margin-bottom: 110px;
      text-align: center;
      text-transform: uppercase;

      img {
        filter: brightness(40%);
      }

      .band-in-text {
        position: absolute;
        top: 55%;
        left: 50%;
        max-width: 80%;
        margin-top: 0;
        font-size: 15vw;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        transform: translate(-50%, -50%);

        // .band-text {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   max-width: 80%;
        //   font-size: 15vw;
        //   color: aqua;
        //   text-align: center;
        //   white-space: nowrap;
        //   transform: translate(-50%, -50%);
        // }
      }
    }

    .introduce-bass {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      &-title {
        font-size: 4.7rem;
      }

      ol {
        padding-left: 0;
        margin-left: 0;
      }
    }

    .my-guitar {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      &-title {
        font-size: 2.5rem;
      }

      img {
        max-width: 26%;
        margin-inline: auto;
      }
    }

    .favorit-band {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      .band-list {
        &--lucy {
          padding: 15px;
          margin-bottom: 25px;
          background-color: oklch(95% 0.04 260deg);
          border-radius: 18px;

          .band-logo {
            max-width: 20%;
            margin-inline: auto;
          }

          .band-img {
            max-width: 50%;
            margin-inline: auto;
          }
        }

        &--day6 {
          padding: 15px;
          margin-bottom: 25px;
          background-color: oklch(95% 0.04 260deg);
          border-radius: 18px;

          .band-logo {
            max-width: 20%;
            margin-inline: auto;
          }

          .band-img {
            max-width: 50%;
            margin-inline: auto;
          }
        }

        &--yorushika {
          padding: 15px;
          background-color: oklch(95% 0.04 260deg);
          border-radius: 18px;

          .band-logo {
            max-width: 20%;
            margin-inline: auto;
          }

          .band-img {
            max-width: 50%;
            margin-inline: auto;
          }
        }
      }
    }

    .recommendation-youtube {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      .youtube-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin-inline: auto;
        margin-top: 60px;
        text-align: center;

        .youtube-border {
          margin-inline: auto;
          border-radius: 50%;
        }
      }
    }

    .my-play {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;
    }

    .tmi {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;
    }
  }
}

.footer {
  padding-block: 32px;
  padding-inline: 10rem;
  margin-top: 150px;
  color: #fff;
  background-color: #000;

  &-top {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;

    &-left {
      display: grid;
      grid-template-rows: subgrid;
      grid-template-columns: subgrid;
      grid-row: 1 / -1;
      grid-column: 1 / 3;

      .footer-box {
        .big-link {
          font-size: 22px;
          color: #fff;
        }

        li {
          list-style-type: none;
        }
      }
    }

    &-right {
      grid-column: -1 / -2;

      // background-color: antiquewhite;
    }
  }

  &-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    max-width: fit-content;
    margin-top: 16px;

    .instagram {
      img {
        border-radius: 12px;
      }
    }

    .gmail {
      max-width: 48px;

      img {
        border-radius: 12px;
      }
    }
  }
}
