*,
::before,
::after {
  box-sizing: border-box;
}

h3 {
  margin: 0;
  line-height: 180px;
}

body {
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);

  &__wrapper {
    display: grid;
    grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
    gap: 1rem;
    align-items: center;
    max-width: 60rem;
    min-height: 0.3rem;
    margin-inline: auto;
  }
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;

  &--pos {
    &-left {
      grid-column: 2 / span 4;
      color: #fff;
    }

    &-right {
      grid-column: -3 / -1;
    }
  }

  &__item {
    display: grid;
    align-items: center;
    height: 32px;
    padding-inline: 8px;
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid rgba(56 31 209 / 0%);
    border-radius: 6px;

    &:hover {
      border: 0.125rem solid #fff;
    }

    &--style-filled {
      color: oklch(42% 0.08 250deg);
      background-color: #fff;
      border: 0.125rem solid oklch(42% 0.08 250deg);
    }
  }
}

.sub-title {
  margin-top: 120px;
  font-size: 2.5rem;
}

.middle {
  .main-title {
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
  }

  .band {
    .guid {
      color: darkblue;
    }

    .project {
      position: relative;
      display: grid;
      grid-template-columns: 1fr 1fr;
      max-width: 70%;
      margin-inline: auto;
      margin-top: 150px;
      margin-bottom: 110px;
      text-align: center;
      text-transform: uppercase;

      img {
        filter: brightness(40%);
      }

      .band-in-text {
        position: absolute;
        top: 55%;
        left: 50%;
        max-width: 80%;
        margin-top: 0;
        font-size: 15vw;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        transform: translate(-50%, -50%);

        // .band-text {
        //   position: absolute;
        //   top: 50%;
        //   left: 50%;
        //   max-width: 80%;
        //   font-size: 15vw;
        //   color: aqua;
        //   text-align: center;
        //   white-space: nowrap;
        //   transform: translate(-50%, -50%);
        // }
      }
    }

    .introduce-bass {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      &-title {
        font-size: 4.7rem;
      }

      ol {
        padding-left: 0;
        margin-left: 0;
      }
    }

    .my-guitar {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      &-title {
        font-size: 2.5rem;
      }

      img {
        max-width: 26%;
        margin-inline: auto;
      }
    }

    .favorit-band {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      .band-list {
        &--lucy {
          padding: 15px;
          margin-bottom: 25px;
          background-color: oklch(95% 0.04 260deg);
          border-radius: 18px;

          .band-logo {
            max-width: 20%;
            margin-inline: auto;
          }

          .band-img {
            max-width: 50%;
            margin-inline: auto;
          }
        }

        &--day6 {
          padding: 15px;
          margin-bottom: 25px;
          background-color: oklch(95% 0.04 260deg);
          border-radius: 18px;

          .band-logo {
            max-width: 20%;
            margin-inline: auto;
          }

          .band-img {
            max-width: 50%;
            margin-inline: auto;
          }
        }

        &--yorushika {
          padding: 15px;
          background-color: oklch(95% 0.04 260deg);
          border-radius: 18px;

          .band-logo {
            max-width: 20%;
            margin-inline: auto;
          }

          .band-img {
            max-width: 50%;
            margin-inline: auto;
          }
        }
      }
    }

    .recommendation-youtube {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;

      .youtube-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        margin-inline: auto;
        margin-top: 60px;
        text-align: center;

        .youtube-border {
          margin-inline: auto;
          border-radius: 50%;
        }
      }
    }

    .my-play {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;
    }

    .tmi {
      max-width: 70%;
      margin-inline: auto;
      text-align: center;
    }
  }
}
