*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 16px;
  background-color: oklch(42% 0.08 250deg);
}
.nav__wrapper {
  display: grid;
  grid-template-columns: 32px repeat(4, auto) 1fr repeat(2, auto);
  gap: 1rem;
  align-items: center;
  max-width: 60rem;
  min-height: 0.3rem;
  margin-inline: auto;
}

.logo {
  grid-column: 1;
  color: #fff;
}

.menu {
  display: grid;
  grid-template-columns: subgrid;
  padding-left: 0;
  margin-block: 0;
  list-style: none;
}
.menu--pos-left {
  grid-column: 2/span 4;
  color: #fff;
}
.menu--pos-right {
  grid-column: -3/-1;
}
.menu__item {
  display: grid;
  align-items: center;
  height: 32px;
  padding-inline: 8px;
  font-size: 14px;
  font-weight: 900;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid rgba(56, 31, 209, 0);
  border-radius: 6px;
}
.menu__item:hover {
  border: 0.125rem solid #fff;
}
.menu__item--style-filled {
  color: oklch(42% 0.08 250deg);
  background-color: #fff;
  border: 0.125rem solid oklch(42% 0.08 250deg);
}

.sidebar {
  position: sticky;
  top: calc(4rem + 32px + 32px);
  align-self: start;
}
.sidebar__menu {
  padding-left: 0;
  margin-block: 1rem 0;
  list-style: none;
}
.sidebar__menu--lv-2 {
  display: none;
  margin-top: 8px;
}
.sidebar__menu__item {
  display: block;
  padding-block: 1rem;
  padding-left: 1.25rem;
  font-weight: 600;
  line-height: 27.2px;
  color: #4b4b4e;
  text-decoration: none;
}
.sidebar__menu__item:hover {
  color: #381fd1;
}
.sidebar__menu__item--type-btn {
  cursor: pointer;
  background-color: unset;
  border: none;
}
.sidebar__menu__item--lv-2 {
  padding-left: 3rem;
}
.sidebar__submit {
  padding: 24px;
  margin-top: 1.5rem;
  background-color: #f3f2fc;
  border-radius: 0.5rem;
}
.sidebar__submit__title {
  font-family: Radio Canada Big, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1.1;
  color: #10284b;
}
.sidebar__submit__description {
  margin-top: 0.5rem;
  font-size: 1rem;
  line-height: 1.7rem;
}
.sidebar__submit__btn {
  display: block;
  height: 2.5rem;
  padding-block: 0.375rem;
  padding-inline: 1rem;
  margin-top: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  background-color: #381fd1;
  border-radius: 0.375rem;
}